.boardRow {
  height: 80px;
	width: 800px;
}

.boardSpace {
  height: 80px;
  width: 90px;
}

#restartGame {
  margin: 5px;
}

body {
  background: lightblue;
}

table {
  border-collapse: collapse;
}

td.board {
  border: 5px black solid
}
